@model IEnumerable<HandsOnMVCEFCoreCodeFirst_Demo2.Entities.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCode)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-EmployeeId="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-EmployeeId="@item.EmployeeId">Details</a> |
                    <a asp-action="Delete" asp-route-EmployeeId="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
